.main-layout {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 200px auto;
  grid-template-areas:
    'nav-bar nav-bar'
    'projects page'
  ;

  overflow: hidden;

  .projects {
    color: white;
    background: black;

    grid-area: projects;

    input[type="text"] {
      color: white;
    }
  }

  .nav-bar {
    grid-area: nav-bar;
  }

  .page {
    grid-area: page;

    justify-self: stretch;
    align-self: stretch;

    padding: 16px;

    overflow: auto;
  }
}

@media(max-width: 600px) {
  .main-layout {
    grid-template-areas:
      'nav-bar nav-bar'
      'page    page'
    ;

    .projects {
      width: calc(100vw - 100px);
      height: calc(100vh - 50px);

      position: absolute;
      top: 50px;
      left: -500px;

      transition: left 500ms;

      z-index: 100;
    }

    &.menu-open {
      .projects {
        left: 0;
      }

      .click-shroud {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
      }
    }
  }
}
