.main-layout {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 200px auto;
  grid-template-areas:
    'header header'
    'projects page'
  ;

  overflow: hidden;

  .projects {
    color: white;
    background: black;

    grid-area: projects;

    input[type="text"] {
      color: white;
    }
  }

  .header {
    grid-area: header;

    color: white;
    background: grey;

    height: 50px;

    .app-name {
      background-color: black;
      display: inline-block;
      padding: 16px;
      margin-right: 16px;
    }

    .projects-panel-toggle {
      display: none;

      padding: 16px;
      margin: -16px;

      cursor: default;
    }

    .user-info {
      display: inline-block;
      float: right;

      padding: 16px;
    }
  }

  .page {
    grid-area: page;

    justify-self: stretch;
    align-self: stretch;

    padding: 16px;

    overflow: auto;
  }
}

@media(max-width: 600px) {
  .main-layout {
    grid-template-areas:
      'header header'
      'page   page'
    ;

    .projects {
      width: calc(100vw - 100px);
      height: calc(100vh - 50px);

      position: absolute;
      top: 50px;
      left: -500px;

      transition: left 500ms;

      z-index: 100;
    }

    &.menu-open {
      .projects-panel-toggle {
        background-color: black;
        color: white;
      }

      .projects {
        left: 0;
      }

      .click-shroud {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
      }
    }

    .header {
      .projects-panel-toggle {
        display: inline-block;
      }
    }
  }
}
