.button-wrapper {
  .button {
    margin: 0 8px;
    padding: 8px;

    position: relative;

    user-select: none;

    &.disabled {
      color: darkgray;
      background-color: lightgray;
    }

    &.neutral {
      background-color: lightgray;
    }

    &.danger {
      color: white;
      background-color: darkred;
    }
  }

  .tooltip {
    display: inline-block;

    opacity: 0;

    width: max-content;
    max-width: 120px;

    padding: 5px;

    border-radius: 6px;

    background-color: black;
    color: white;

    text-align: center;

    position: absolute;
    z-index: 1;

    transition: opacity 0.5s;

    &.top {
      bottom: 100%;
      left: 50%;

      transform: translateX(-50%);
    }

    &.right {
      top: 50%;
      left: 100%;

      transform: translateY(-50%);
    }

    &.bottom {
      left: 50%;
      top: 100%;

      transform: translateX(-50%);
    }

    &.left {
      top: 50%;
      right: 100%;

      transform: translateY(-50%);
    }
  }

  .button:hover + .tooltip {
    opacity: 1;
  }
}
