.page-header {
  position: relative;

  background-color: darkgray;

  margin: -16px;
  margin-bottom: 16px;
  padding: 0 16px;

  .left-side {
    display: inline-block;
  }

  .right-side {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    height: 100%;

    padding: 8px;
  }
}
